* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: black;
	color: white;

	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.iam-wrapper {
	display: flex;
}

.iam-wrapper .iam {
	font-size: 60px;
	font-weight: 400;
}

.iam-wrapper .run-text {
	margin-left: 15px;
	height: 90px;
	line-height: 90px;
	overflow: hidden;
}

.run-text li {
	list-style: none;
	color: cyan;
	font-size: 60px;
	font-weight: 400;
	position: relative;
	top: 0;
	animation: slide 8s steps(4) infinite;
}

@keyframes slide {
	100% {
		top: -360px;
	}
}

.run-text li span {
	position: relative;
	margin: 5px 0;
	line-height: 90px;
}

.run-text li span::after {
	content: "";
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	background: black;
	border-left: 3px left cyan;
	animation: typing 3s steps(12) infinite;
}

@keyframes typing {
	40%,
	60% {
		left: calc(100% + 30px);
	}
	100% {
		left: 0;
	}
}
